<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      text-align:center;
    }
    h2{
      color:black;
      font-family: Arial, sans-serif;
      font-size:25px;
      font-weight: bold;
      align-items:'center';
      justify-content:'center';
    }
    .intro-text {
      margin: 20px 0;
      font-size:18px;
    }
  </style>
</head>
<body>
  <div class="container">
    <br><br>
  <h2>Bienvenue à EduSynErgy4</h2>
  <br>
  <div class="intro-text">
  Notre plateforme d'apprentissage en ligne est conçue <br> pour vous offrir une expérience éducative exceptionnelle,<br>que vous soyez un étudiant désireux d'acquérir de nouvelles compétences,<br> un professionnel cherchant à se perfectionner ou simplement un passionné  <br>de l'apprentissage continu <br>
  Inscrivez-vous aujourd'hui et découvrez les innombrables possibilités <br> qui s'offrent à vous. <br> Que vous cherchiez à acquérir de nouvelles compétences professionnelles, <br>à poursuivre votre passion ou à élargir vos horizons,<br>notre plateforme est là pour vous aider à atteindre vos objectifs d'apprentissage. <br>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

