<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      text-align: center;
    }
    h1 {
      color: rgb(0, 5, 2);
      font-family: Arial, sans-serif;
      font-size: 36px;
      font-weight: bold;
    }
    h6 {
      color: rgb(20, 19, 19);
      font-family: Arial, sans-serif;
      font-size: 18px;
      line-height: 1.5;
      font-weight: bold;
    }
    .intro-text {
      margin: 20px 0;
    }
  </style>
</head>
<body>
  <h1>Bienvenue à SynErgy4</h1>
  <div class="intro-text">
    Notre plateforme d'apprentissage en ligne est conçue pour vous offrir une expérience éducative exceptionnelle, que vous soyez un étudiant désireux d'acquérir de nouvelles compétences, un professionnel cherchant à se perfectionner ou simplement un passionné de l'apprentissage continu. Inscrivez-vous aujourd'hui et découvrez les innombrables possibilités qui s'offrent à vous. Que vous cherchiez à acquérir de nouvelles compétences professionnelles, à poursuivre votre passion ou à élargir vos horizons, notre plateforme est là pour vous aider à atteindre vos objectifs d'apprentissage.
  </div>
</body>
</html>

