<!-- Footer -->

<footer class="text-center text-lg-start bg-body-tertiary text-muted" style="background-color:blue;">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
            <i class="fa fa-home"></i>
          </a>
        <a href="https://www.facebook.com/profile.php?id=100083772873619&mibextid=zLoPMf" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        
        <a href="https://github.com/azao982" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i> EduSynergy4
            </h6>
            <p>
                Avec EDUSYNERGY4, l'éducation devient accessible, engageante et adaptée à votre rythme.
                <br> Explorez notre communauté d'apprentissage dès aujourd'hui et découvrez une nouvelle dimension d'éducation en ligne.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              <Main>Matiéres</Main>
            </h6>
            <p>
              <a class="text-reset">Angular</a>
            </p>
            <p>
              <a class="text-reset">Anglais</a>
            </p>
            <p>
              <a  class="text-reset">Commerce</a>
            </p>
            <p>
              <a class="text-reset">français</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i>Tunis,Manouba</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              azaouzisafa1@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i>25025352</p>
            <p><i class="fas fa-phone me-3"></i>27771360</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->