<section>
<h1 style="text-align: center; color:white; font-style: italic;">Suivre nos cours</h1>
<br>
<br>
<div class="container">
    <div class="row">
      <div class="col-md-4 x">
        <div class="card mb-4 abc">
          <a href="/">
          <img src="assets/ik.jpg" class="card-img-top yz" alt="...">
          </a>
          <div class="card-body">
            <h5 class="card-title yax" style="text-align: center; font-weight: bold;">Angular</h5>
            <br>
            <div class="centered">
        
            </div>
            </div>
            </div>
            </div>
      <div class="col-md-4 x">
        <div class="card mb-4 hi" >
          <a href="/">
            <img src="assets/tyy.jpg" class="card-img-top yx" alt="...">
        </a>
        <br>
          <div class="card-body">
            <h5 class="card-title" style="text-align:center; font-weight: bold;">Anglais</h5>
            <br>
            <div class="centered">
              
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 x">
        <div class="card mb-4 hy">
          <a href="/">
          <img src="assets/bn.jpg" class="card-img-top" alt="...">
        </a>
          <div class="card-body">
            <br>
            <h5 class="card-title" style="text-align: center; font-weight: bold;">Développement web</h5>
            <br>
            <div class="centered">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 x">
        <div class="card mb-4 av">
          <a href="/">

          <img src="assets/lm.jpg" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <h5 class="card-title" style="text-align: center; font-weight: bold;">Développement personnel</h5>
            <br>
            <div class="centered">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 x">
        <div class="card mb-4 bt">
          <a href="/">

          <img src="assets/pp.png" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <h5 class="card-title" style="text-align: center; font-weight: bold;">Développement Mobile</h5>
            <br>
            <div class="centered">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 x">
        <div class="card mb-4 aq">
          <a href="/">

          <img src="assets/mp.jpg" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <h5 class="card-title" style="text-align: center; font-weight: bold;">Commerce</h5>
            <br>
            <div class="centered">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  